﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container main">

    <div class="solsutun col-lg-8 col-md-8 col-sm-8 col-xs-8">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Content/images/uygulama.jpg" alt="ilk slide">
                    <div class="carousel-caption">
                        ilk slide
                    </div>
                </div>
                <div class="item ">
                    <img src="~/Content/images/facebook1.jpg" alt="ikinci slide">
                    <div class="carousel-caption">
                        ikinci slide
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/images/iphone.jpg" alt="üçüncü slide">
                    <div class="carousel-caption">
                        üçüncü slide
                    </div>
                </div>
            </div>

            <!-- Controls -->

            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Önceki</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Sonraki</span>
            </a>
        </div>


        <div class="row col-lg-12  ">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@WebApplication29.Resources.lang.haberler</h3>
                </div>
                <div class="panel-body">



                    <div class="row icerikliste ">
                        <div class="col-xs-6">
                            <div class="thumbnail">
                                <img src="~/Content/images/internethiz.jpg" alt="içerik">
                                <div class="caption">
                                    <h4>@Html.ActionLink("İnternet Hızı Nasıl Ölçülür?", "internet", "Home", new { @style = "color:green" })</h4>
                                    <p> İnternet hızını ölçmek için birçok yöntem bulunmakta. Bunlar arasında oek fark yok. Ancak...</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="thumbnail">
                                <img src="~/Content/images/iphone.jpg" alt="içerik">
                                <div class="caption">
                                    <h4>@Html.ActionLink("Iphone 7'de Dokunuş Geri Bildirimi(Haptic Feedback)Nasıl Kapatlır?", "iphone", "Home", new { @style = "color:green" })</h4>
                                    <p>İphone 7’ye eklenen birçok güzel yanı olan ancak sevilmeyen yanları da olan dokunuş...</p>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-6">
                            <div class="thumbnail">
                                <img src="~/Content/images/facebook1.jpg" alt="içerik">
                                <div class="caption">
                                    <h3>@Html.ActionLink("Facebook Ne Kadar Vergi Ödüyor? ", "facebook", "Home", new { @style = "color:green" })</h3>
                                    <p> Vergi miktarı doğrudan ödeyen firmanın büyüklüğüyle ilgili bir şeydir. Firma ne kadar...</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="thumbnail">
                                <img src="~/Content/images/uygulama.jpg" alt="içerik">
                                <div class="caption">
                                    <h3>@Html.ActionLink("Haftanın Android Uygulama Önerileri", "uygulama", "Home", new { @style = "color:green" })</h3>
                                    <p> Pil sürenizi uzatıcak, verilerinizi güvende tutacak, telefonuzu temizleyecek ve gizliliğinizi...</p>
                                </div>
                            </div>
                        </div>


                    </div>



                    <div class="row buton col-md-6">
                        @Html.ActionLink(@WebApplication29.Resources.lang.tümliste, "Haberler", "Home", new { @class = "pull-right  btn btn-success" })
                    </div>



                    @*<div class="row buton col-md-6">
                            <p class="pull-right"> <a href="#" class="btn btn-success" role="button"><i class="ion-arrow-right-c"></i>Tüm Liste </a></p>
                            <div class="clearfix"></div>
                        </div>*@


                </div>

            </div>
        </div>
    </div>






    <div class="sagsutun col-lg-4 col-md-4 col-sm-4 col-xs-4">



        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">@WebApplication29.Resources.lang.hakkimda</h3>
            </div>
            <div class="panel-body">

                <div class="hakkımda col-xs-12">
                    <div class="thumbnail">
                        <img src="~/Content/images/4.jpg" alt="içerik">
                        <div class="caption">
                            <h3>@WebApplication29.Resources.lang.hakkimda</h3>
                            <p> <p style="font-weight:bold">1995 yılında İstanbul'da doğdum </p>Egitimim ve hayatıma dair birçok eylemimim burada geçti. Bilgisayar mühendisliği olmayı istememin ve bir bilgisayar mühendisi olmak için bu bölümü okumamın en önemli sebeblerinden biri bilgisayara,yazılıma,kodlamaya duyduğum       merak,istek,ilgiden ileri gelmektedir.Bu mesleğe ilgi duyduğumun en önemli kanıtlarından biride gerektiğinde yazılımda ilgili bir proje üzerinde çalışırken kendimden geçerek zamanın ve saatin varlığını unutarak farkında olmadan bütün gece bilgisayar başında çalışıp geceleyebilmemdir.      Bilgisayar mühendisliği bölümü yazılım, donanım, network, sistem gibi alanlardan oluşmaktadır. Bu alanların herbiri kendi içerisinde çeşitli  alanlara ayrılırlar ve bu ise bilgisayar mühendisliğinin çalışabileceği alan sayının zenginliğini göstermektedir. Bu alanlardan benim ilgimi en çok çeken kısım yazılım alanıdır. Küçük yaşlardan beri bilgisayara olan ilgim ,onunla fazla uğraşmama neden oldu. Bu ise zamanla benim kodlamaya olan ilgimin doğmasına ve kitaplardan, internetten, edindiğim bilgilerle küçük programlar yazmamı sağladı. Hatırlağım kadarıyla ilkyazdığım programlar adımı, en sevdiğim rengi soran programlardı. Zamanla kitaplara, internete bakarak yazdığım programları geliştirdim. Bu şekilde kodlamaya @Html.ActionLink("devamı>>", "About", "Home", new { @style = "color:green" })</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@WebApplication29.Resources.lang.sosyal</h3>
            </div>
            <div class="panel-body">

                <a class="btn btn-primary" href="https://www.facebook.com/people/Mahmut-%C5%9Eeren/100010790735109"><i class="fa fa-facebook left"></i> Facebook</a>
                <a class="btn btn-info" href="https://www.linkedin.com/uas/login"><i class="fa fa-linkedin left"></i> Linkedin</a>
                <a class="btn btn-danger" href="https://plus.google.com/collections/featured"><i class="fa fa-google-plus left"></i> Google+</a>
                <a class="youtube btn btn-danger" href="https://www.youtube.com/?hl=tr&gl=TR"><i class="fa fa-youtube left"></i> Youtube</a>
                <a class="email btn btn-default" href="https://login.live.com/tr"><i class="fa fa-envelope left"></i> Email</a>

            </div>
        </div>




    </div>


</div>