﻿

<div class=" col-xs-8">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Iphone 7'de Dokunuş Geri Bildirimi(Haptic Feedback)Nasıl Kapatlır?  </h3>
        </div>
        <div class="panel-body">

            <div class="iphone7 col-xs-12">
                <div class="thumbnail">
                    <img src="~/Content/images/iphone.jpg">
                    <div class="caption">
                        <p>

                            İphone 7’ye eklenen birçok güzel yanı olan ancak sevilmeyen yanları da olan dokunuş geri bildirimi özelliğini nasıl kapatacağınızı anlatacağız.<br />
                        <p style="font-weight:bold">Bazen can sıkan bu özelliği kapatmak için;</p><br />
                        Ayarlar – sesler ve dokunuşlar yolunu takip edip sistem dokunuşlarını devre dışı bırakmak.
                        Bu şekilde sistem dokunuşları özelliğini devre dışı bırakabilirsiniz.<br /><br />
                        Dokunuş geri bildirim özelliği size yabancı gelebilir. Çünkü bundan önce Apple’ın ürettiği cihazlarda hep fiziksel tuşlar kullanılıyordu.
                        İlk defa iPhone 7’de bu durumdan vaz geçen Apple kullanıcılarını memnu etmek için bu tür yenilikler yapmak istese de kullanıcılar yine de bu tür durumlardan rahatsız olabiliyorlar.




                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
