﻿@model IEnumerable<WebApplication29.Models.uyeler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Öğrenci", "Create", new {@style="color:white" })
</p>
<table class="table">
    <tr>
        <th style="color:white" >
            @Html.DisplayNameFor(model => model.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DogumTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPosta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DogumTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EPosta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.uyeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.uyeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.uyeID })
        </td>
    </tr>
}

</table>
