﻿<!DOCTYPE html>
<html>
<head>

    <link rel="shortcut icon" href="~/Content/images/icon.ico">
    <meta charset="utf-8" />


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                @Html.ActionLink("TeknoBlog", "Index", "Home", null, new { @class = "navbar-brand", @style = "color:black" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@WebApplication29.Resources.lang.anasayfa, "Index", "Home", new { @style = "color:black", @class = "glyphicon glyphicon-home" })</li>
                    <li>@Html.ActionLink(@WebApplication29.Resources.lang.hakkimda, "About", "Home", new { @style = "color:black" })</li>
                    <li>@Html.ActionLink(@WebApplication29.Resources.lang.haberler, "Haberler", "Home", new { @style = "color:black" })</li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" style="color:black" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@WebApplication29.Resources.lang.dersler<span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li>@Html.ActionLink("HTML", "Htmlders", "Home", new { @style = "color:black" })</li>
                            <li>@Html.ActionLink("CSS", "Cssders", "Home", new { @style = "color:black" })</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink(@WebApplication29.Resources.lang.iletisim, "Contact", "Home", new { @style = "color:black " })</li>

                </ul>

                <div class="nav navbar-nav navbar-right col-md-4">
                    <div class="col-md-3">



                        <div class="dropdown">

                            @if (HttpContext.Current.Session["Culture"].ToString() == "tr")
                            {
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">TR<span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li>
                                        @Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)

                                    </li>
                                </ul>

                            }

                            else
                            {
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">EN<span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li>
                                        @Html.ActionLink("Türkçe", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)

                                    </li>
                                </ul>
                            }

                        </div>

                        @*<div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                TR
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">EN</a></li>
                            </ul>
                        </div>*@
                    </div>


                    <div class="col-sm-9 col-md-9">
                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="@WebApplication29.Resources.lang.arastir" name="q">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                @*<ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Üye ol", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

                    </ul>*@

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <div class="row-fluid footer">
        <div class="container">
            <p>&copy; @DateTime.Now.Year -TeknoBlog  </p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
