﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(@WebApplication29.Resources.lang.üyeol, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @style = "color:black", @class = "ion-person-add" })</li>
        <li>@Html.ActionLink(@WebApplication29.Resources.lang.girisyap, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @style = "color:black" })</li>
    </ul>
}
